{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>It's Me</title>
  <link rel = "icon" href =
"https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b555cca6-60b6-412c-8fbd-dc9aaf3c2740/dbfr8a2-2fe28741-69fe-48af-b0a9-fe7fe86c0fac.png/v1/fill/w_400,h_401,strp/harry_potter_icon_by_rickyrgoetz_dbfr8a2-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD00MDEiLCJwYXRoIjoiXC9mXC9iNTU1Y2NhNi02MGI2LTQxMmMtOGZiZC1kYzlhYWYzYzI3NDBcL2RiZnI4YTItMmZlMjg3NDEtNjlmZS00OGFmLWIwYTktZmU3ZmU4NmMwZmFjLnBuZyIsIndpZHRoIjoiPD00MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.JrQKgji2D4x0obUn-lILBq9ExNa1Ial5h205fffJGJc"
        type = "image/x-icon">
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->



<link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Pangolin&display=swap" rel="stylesheet">

  <!-- Google Fonts -->
  <!-- Vendor CSS Files -->
  <link href="{% static 'money/css/bootstrap.min.css' %}" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link href="{% static 'money/css/style.css' %}" rel="stylesheet">

  <script src="https://use.fontawesome.com/68655f19c8.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
  <script src="{% static 'money/js/jquery.min.js' %}"></script>


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top  header-transparent ">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h2 class="text-light"><a href="" style="font-family: 'Chelsea Market', cursive;">ASHISH SASMAL</a></h2>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block" >
        <ul>
          <li class="active"><a href="{% url 'home' %}" style="font-family: 'Pangolin', cursive;font-size:17pt;">Home</a></li>
          <li><a  class="dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: 'Pangolin', cursive;font-size:17pt;">Expense</a>

            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'addmoney' %}" style="font-family: 'Pangolin', cursive;font-size:15pt;">Update Balance</a>
              <a class="dropdown-item" href="{% url 'moneydetail' %}" style="font-family: 'Pangolin', cursive;font-size:15pt;">Account Details</a>
            </div>
          </li>
          <li><a href="{% url 'notes' %}" style="font-family: 'Pangolin', cursive;font-size:17pt;">Notes</a></li>
           <li><a href="{% url 'calendar' %}" style="font-family: 'Pangolin', cursive;font-size:17pt;">Events</a></li>


          <li><a href="{% url 'diary_login' %}" style="font-family: 'Pangolin', cursive;font-size:17pt;">Diary</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}" style="font-family: 'Pangolin', cursive;font-size:17pt;">Logout</a></li>
          {% else %}
          <li><a href="{% url 'login' %}?next={{request.path}}" style="font-family: 'Pangolin', cursive;font-size:17pt;">Login</a></li>
          {% endif %}
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

{% if messages %}
<br><br>
{% for message in messages %}

<div class="alert alert-{{message.tags}} mt-2">{{message}}</div>
{% endfor %}

{% endif %}
<br><br>
<div class="container">
{% block content %}{% endblock %}
</div>

  <!-- Vendor JS Files -->



  <script src="{% static 'money/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'money/js/main.js' %}"></script>

</body>

</html>
