{% extends 'money/base.html' %}

{% block content%}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!------ Include the above in your HEAD tag ---------->

<style media="screen">
  .login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form-2{
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}


</style>

<br><br><br><br>
<div class="container login-container"  align="center">


                <div class="col-md-4 login-form-2">
                    <h3><u>Login</u></h3>
                    <form method="POST">
                      {% csrf_token %}
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Your Password *" value="" />
                        </div>
                        <div class="form-group" align="center">
                            <input type="submit" class="btnSubmit" value="Login" />
                        </div>

                    </form>
                </div>
            </div>

{% endblock content %}
