{% extends 'money/base.html' %}

{% block content%}

<link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap" rel="stylesheet">
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" charset="utf-8"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js" charset="utf-8"></script>

<script type="text/javascript">
  $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
<br><br><br><hr>

<form  method="POST" id="detform">
  {% csrf_token %}

  <input type="text" name="paid" id="paid" value="" hidden>
</form>

<h5 style="color:green;font-family: 'Source Serif Pro', serif;" align="center"><b>Total : &#8377;{{last.total}}</b></h5>
<div class="container">

    <table id="myTable" class="table  table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">To</th>
          <th scope="col">Reason</th>
          <th scope="col">Date</th>
          <th scope="col">Amount</th>
          <th scope="col">Action</th>


        </tr>
      </thead>
      <tbody>
        {% for i in all %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{i.to}}</td>
          <td>{{i.reason}}</td>
          <td>{{i.date}}</td>
          <td>{{i.amount}}</td>
          {% if i.status == "OS" %}
           <td><button type="button" onclick="paid({{i.id}});" class="btn btn-sm btn-danger">{{i.get_status_display}}</button></td>
           {% elif i.status == "OA" %}
           <td><button type="button"  class="btn btn-sm btn-primary">{{i.get_status_display}}</button></td>

           {% elif i.status == "RET" %}
           <td><button type="button"  class="btn btn-sm btn-warning">{{i.get_status_display}}</button></td>
          {% else %}
          <td><button type="button" class="btn btn-sm btn-success">{{i.get_status_display}}</button></td>
          {% endif %}
        </tr>
       {% endfor %}
      </tbody>
    </table>


</div>

<script type="text/javascript">
  function paid(val)
  {
    if (confirm('Are you sure you want to Submit?'))
    {
      document.getElementById('paid').value = val;
      document.getElementById('detform').submit();
    }
    else
    {
      return false;
    }
  }
</script>


{% endblock content %}
