{% extends 'money/base.html' %}

{% block content%}


<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" charset="utf-8"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js" charset="utf-8"></script>

<script type="text/javascript">
  $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
<br><br><br><hr>

<div class="container">
  <table id="myTable" class="table  table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">To</th>
        <th scope="col">Reason</th>
        <th scope="col">Date</th>
        <th scope="col">Returned?</th>
        <th scope="col">Amount</th>


      </tr>
    </thead>
    <tbody>
      {% for i in all %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{i.to}}</td>
        <td>{{i.reason}}</td>
        <td>{{i.date}}</td>
        <td>{{i.returned}}</td>
        <td>{{i.amount}}</td>
      </tr>
     {% endfor %}
    </tbody>
  </table>
</div>




{% endblock content %}
