
{% extends 'money/base.html' %}

{% load static %}
{% block content%}

<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">


<style media="screen">
  body {
            background-color: #eeeeee;
        }

        .h7 {
            font-size: 0.8rem;
        }

        .gedf-wrapper {
            margin-top: 0.97rem;
        }

        @media (min-width: 992px) {
            .gedf-main {
                padding-left: 4rem;
                padding-right: 4rem;
            }
            .gedf-card {
                margin-bottom: 2.77rem;
            }
        }

        /**Reset Bootstrap*/
        .dropdown-toggle::after {
            content: none;
            display: none;
        }
</style>


<!------ Include the above in your HEAD tag ---------->



<hr>




    <div class="container-fluid gedf-wrapper">
        <div class="row">

            <div class="col-md-6 gedf-main">

                <!--- \\\\\\\Post-->
                <div class="card gedf-card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item">

                                <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true" style="font-family: 'Shadows Into Light', cursive;font-size:15pt;color:#097d52;"><b><u> Write</u> <i style="font-size:12pt;" class="fas fa-feather"></i> </b></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="images-tab" data-toggle="tab" role="tab" aria-controls="images" aria-selected="false" href="#images" style="font-family: 'Shadows Into Light', cursive;font-size:15pt;color:#ff1605;"><u><b>Images</b></u> <i style="font-size:12pt;" class="fas fa-images"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="search-tab" data-toggle="tab" role="tab" aria-controls="search" aria-selected="false" href="#search" style="font-family: 'Shadows Into Light', cursive;font-size:15pt;color:#0a82d1;"><u><b>Search</b></u> <i style="font-size:12pt;" class="fas fa-search"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">


                        <div  class="tab-content" id="myTabContent">

                            <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                                <div class="form-group">
                                  <form id="form1" method="POST">
                                    {% csrf_token %}
                                    <label class="sr-only" for="message">post</label>
                                    <textarea class="form-control" name="entry" id="message" rows="5" placeholder="What are you thinking?"></textarea>
                                    <a href="#" onclick="document.getElementById('form1').submit();" style="font-size:20px;"><i class="fas fa-arrow-right"></i></a>
                                    </form>
                                </div>


                            </div>

                            <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Upload image</label>
                                    </div>
                                </div>
                                <div class="py-4"></div>
                            </div>


                            <div class="tab-pane fade" id="search" role="tabpanel" aria-labelledby="search-tab">
                                <div class="form-group">
                                  <div class="input-group">
                                      <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                                      <div class="input-group-append">
                                          <button class="btn btn-outline-primary" type="button" id="button-addon2">
                                              <i class="fa fa-search"></i>
                                          </button>
                                      </div>
                                  </div>

                            </div>
                        </div>

                    </div>
                </div>
                </div>
                </div>
                 </div>
                <!-- Post /////-->

                <!--- \\\\\\\Post-->
                {% for i in notes %}
                <br>
                <div class="card gedf-card ">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center m-0 p-0">
                                <div class="mr-4">
                                    <img class="rounded-circle" width="30" src="https://picsum.photos/50/50" alt="">
                                </div>


                                    <div class="h7 text-muted">{{i.created_on}}</div>

                            </div>
                            <div >
                                <a  onclick="Edit({{i.id}});"><i class="far fa-edit"></i></a>
                            </div>

                        </div>

                    </div>
                    <div class="card-body" id="note{{i.id}}">
                        <p class="card-text" id="p{{i.id}}">{{i.text}}</p>
                      </div>

                        <div id="edit{{i.id}}" class="card-body" style="display:none;">
                          <form method="POST" id="form{{i.id}}">
                            {% csrf_token %}
                            <input type="text" name="en" value="{{i.id}}" hidden>
                            <textarea class="form-control" name="edit{{i.id}}" id="message{{i.id}}" rows="4" placeholder="What are you thinking?"></textarea>

                            <a href="#" onclick="document.getElementById('form'+{{i.id}}).submit();" style="font-size:20px;"><i class="fas fa-arrow-right"></i></a>
                          </form>
                        </div>

                    <!-- <div class="card-footer">
                        <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
                        <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                        <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                    </div> -->
                </div>

                {% endfor %}
                <!-- Post /////-->

        </div>

        <script type="text/javascript">
          function Edit(val)
          {

            if (document.getElementById("note"+val).style.display == "block")
            {
              document.getElementById("note"+val).style.display = "none";
              v = document.getElementById("p"+val).innerHTML;
              document.getElementById("message"+val).value = v;
              document.getElementById("edit"+val).style.display = "block";
            }
            else {
              document.getElementById("note"+val).style.display = "block";
              v = document.getElementById("p"+val).innerHTML;
              document.getElementById("message"+val).value = v;
              document.getElementById("edit"+val).style.display = "none";
            }


          }
        </script>


{% endblock content %}
